{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-unused-vars": [
      "warn"
    ],
    "no-useless-escape": [
      "warn"
    ],
    "no-undef": [
      "off"
    ],
    "prefer-const": [
      "warn"
    ]
  }
}